<h2><%= @store.store_number %> <%= @store.name %></h2>
<p>General Manager: <%=User.find_by(id: @store[:gm_id]).first_name %><br> Phone: <%= @store.phone %>
Email: <%= @store.store_email %><br>Open Comments: <%= @store.comments.open.count %> Closed Comments: <%= @store.comments.closed.count %> </p>