<% if flash.notice %>
    <div class="alert alert-danger"><%= flash.notice %></div>
<% end %>

 <%= form_for @user do |f| %>
    <div class="form-group">
        <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name, class: "form-control", required: "true" %>
    </div>
    <div class="form-group">
        <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name, class: "form-control", required: "true" %><br>
    </div>
    <div class="form-group">
        <%= f.label :position, "Position" %>
            <%= f.select :position, User::POSITIONS, class: "form-control", required: "true" %>
    </div>
    <div class="form-group">
        <%= f.label :email, "Email Address" %>
            <%= f.text_field :email, class: "form-control", required: "true" %><br>
    </div>
    <div class="form-group">
        <%= f.label :username, "Create a Username" %>
            <%= f.text_field :username, class: "form-control", required: "true" %>
    </div>
    <div class="form-group">
        <%= f.label :password, "Create a password" %>
            <%= f.password_field :password, class: "form-control", required: "true" %><br>
    </div>
        <%= f.submit %>
<% end %>