<!DOCTYPE html>
<html>
  <head>
    <title>Guest Comment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/users/<%= session[:user_id] %>">Guest Comments</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if !logged_in? %>
            <li class="nav-item active">
              <a class="nav-link" href="/signup">Sign Up <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signin">Sign In</a>
            </li>
          <% end %>
          <% if logged_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container my-content">
      <%= yield %>
    </div>
  </body>
</html>
